* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    display: flex;
    flex-wrap: wrap;
}

div {
    flex-basis: 15%;
    flex-grow: 1;
    height: 33.33vh;
    border: 2px solid #FFFFFF;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.brown {
    background: brown;
}

.gray {
    background: gray;
}

.lightgreen {
    background: lightgreen;
}

.pink {
    background: pink;
}

.violet {
    background: violet;
}

.off {
    background: #eee;
}

.hidden {
    background: #000;
}

@media (orientation: portrait) {
    div {
        flex-basis: 30%;
        height: 16.66vh;
    }
}